#main-title{
	font-family: 'Courier Prime', monospace;
	/*font-family: 'Rajdhani', sans-serif;
	/*font-family: 'Rokkitt', serif;*/
}

.test-button{
	width: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui;
    letter-spacing: 1px;
}