<div id = "gr-header">Game Review</div>
<div id = "game-review-stats">
	<div id = "gr-team-stats">
		<div id = team-stat-overlay class = "gr-overlay"></div>
		<div class = "gr-stat-header">Team Stats</div>
		<div class = "team-stat-header">Basic Stats</div>
		<div id = "basic-stats-table">
			
		</div>
		<div class = "team-stat-header">Advanced Stats</div>
		<div id = "advanced-stats-table">
			
		</div>
		<div class = "team-stat-header">Shot Charts</div>
		<div id = "team-shot-charts">
			<div class = "shot-distribution">
				
			</div>
			<div class = "heat-map">
				
			</div>
			<div class = "expected-points"></div>
		</div>
	</div>
	<div id = "gr-player-stats">
		<div class = "gr-stat-header">Player Stats</div>
		<div id = player-stat-overlay class = "gr-overlay"></div>
	</div>
</div>