<%=render "layouts/small_header"%>
<div id='calendar'></div>
<%=games_modal_partial_path(@schedule_edit_permission)%>


<script>

	//activate_header();

	var new_game_data = []

	var event_arr = []
	var calendar;

</script>