<div class="col-sm-3 single-post-card">
  <div class="card">
    <div class="card-block">
      <div class="post-content">
        <h3><%= player.name %></h3> 
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->