
.time-dash{
	margin-bottom: 8px;
	margin-right: 15px;
	margin-left: 15px;
}
#time{
	display: flex;
	font-size: 30px;
	justify-content: center;
}
.squad-score{
	margin-left: 20px;
}

.squad-scoreboard{
	display: flex;
	justify-content: center;
}

.team-name{
	text-align: center;
}

#score-status{
	display: grid;
	grid-template-columns: 300px 300px;
	font-size: 35px;
	justify-content: center;
	align-items: center;
}

#scoreboard{
	display: grid;
	grid-template-rows: 50px 45px;
	justify-content: center;
}
#game-mode-grid{
	display: grid;
	grid-template-rows: 800px 500px;
}


#top-grid{
	display: grid;
	grid-template-columns: 17vw 62vw 21vw;
}

#bottom-grid{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.stats-table{
	margin-bottom: 20px;
}

#player-stats-table{
}


#player-shot-chart-buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
}

.shot-chart-button{
	border: 1px solid black;
	height: 81px;
}

.stat-button {
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
}

#player-buttons{
	padding-top: 15px;
}

#in-game-players{
	display: grid;
	grid-template-columns: repeat(2, 8vw);
}

#bench-players {
	display: grid;
	grid-template-columns: repeat(2, 8vw);
}

#opponent{
	display: flex;
	width: 16vw;
}

#opponent-button{
	flex-grow: 1;
}

.player-button {
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
}

.team-shot-chart{
	background-color: black;
	color: white;
	vertical-align: middle;
	border-right: 1px solid white;
}

#team-shot-charts{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 90px;
}


#stat-buttons{
	display: grid;
	grid-template-columns: repeat(2, 8vw);
	grid-template-rows: repeat(5, 60px);
	padding-bottom: 15px;
}

.modal-overlay{
	z-index: 2000;
	display: block;
	position:fixed;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);;
}

.GM-modal{
	display: flex;
	z-index: 2001;
	background: none;
	justify-content: center;
}

#GM-initializer{
	z-index: 2001;
	display: flex;
	flex-direction: column;
	width: 45vw;
	height: 80vh;
	padding-top: 100px;
	justify-content: center;
	text-align: center;
}

.GM-init{
	background: white;
}

#personel-selection-body{
	display: grid;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: repeat(3, 60px);
}

#stats-table{ 
	border-collapse: collapse;
}

#shot-chart-header{
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
}

 td {
	border: 1px solid #ddd;
	padding: 8px;
}

#shot-chart-buttons{
	padding-top: 85px;
}

