html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}


#cloud-container{
   
}

.canvas-container{
	margin: auto;
}

.player-canvas{
	border: 2px solid black;

}

.expand{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 20px;
}

.arrow{
	border: solid grey;
    border-width: 0 2px 2px 0;
    display: block;
    padding: 7px;
}

.arrow:hover{
	border: solid black;
	border-width: 0 2px 2px 0;
}

.down{
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

#game-review-stats{
}

#gr-team-stats{
	position:absolute;
    top: 55px;
    bottom:0;
    left:0;
    right:50%;
    overflow-y:scroll;

	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.player-table{
	margin-left: 20px;
	width: 90%;
	font-size: 12px;
}

.see-more{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
	font-family: 'Orbitron', sans-serif;
	font-size: 18px;
	display: block;
	margin: auto;
}

.player-advanced-stats{
	display: none;
}

.player-per-minute-stats{
	display: none;
}

.player-name{
	text-align: center;
}

.table-header{
	font-size: 17px;
	margin-left: 60px;
	margin-bottom: 10px;
}

.player-module{
	display: block;
    width: 97%;
    margin: auto;
    border: 1px solid #12676fed;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 1px rgba(0, 233, 255, 0.2);
    background: white;
}

#gr-player-stats{
	position:absolute;
    top:55px;
    bottom:0;
    left:50%;
    right: 0;
    overflow-y:scroll;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	background: #edf1f5;
}

#gr-team-stats-content{
	height: auto;
	overflow-y: scroll;
	display: none;
}
#gr-player-stats-content{
	display: none;
}

.gr-header{
	font-size: 46px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
}

.gr-stat-header{
	color: black;
	position: relative;
	text-align: center;
	font-size: 30px;
}

.team-stat-header{
	text-align: center;
	font-size:25px;
}

.white-overlay{
	z-index: 2000;
	display: block;
	position:absolute;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255, 1);
}

.colored-overlay{
	z-index: 2001;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#team-stats-color-overlay{
	background: rgba(225, 94, 72, 1);
}

#team-stats-color-overlay:hover{
	background: rgba(225, 94, 72, .5);
}

#player-stats-color-overlay{
	background: rgba(77, 161, 168, 1);
}

#player-stats-color-overlay:hover{
	background: rgba(77, 161, 168, .5);
}


.text-overlay{
	z-index: 2001;
	position: absolute;
	text-align: center;
	color: black;
	width: 100%;
	top: 35%;
}
.overlay-message{
	font-size: 17px;
	display:none;
}

.overlay-header{
	font-size: 30px;
}

.gr-stats-table{
	margin: auto;
	width: 80%;
	margin-bottom: 40px;
}

.full-profile{
	display: none;
	text-align: right;
	margin-right: 30px;
}



