@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	#top-grid{
		display: flex;
		flex-direction: column-reverse;
	}

	#gm-middle{
		width: 100vw;
	}

	#canvas-wrapper{
		display: block;
		margin: auto;
	}

	#gm-toolbar{
		width: 100vw;
	}

	#stat-buttons{
		grid-template-columns: repeat(3, 12vw);
	}

	.in-game-players{
		grid-template-columns: repeat(2, 12vw);
	}
	.player-button{
		height: 60px;
	}

	#players_w_stats{
		display: flex;
		flex-direction: row-reverse;
	}

	#bench-players{
		grid-template-columns: repeat(2, 12vw);
	}

	#bench{
		margin: 0;
		border-right: 1px solid white;
	}

	.tb-elem{
		margin-left: 15px;
		padding-right: 15px;
	}

	.gm-submit{
		margin-right: 150px;
		margin-left: 150px;
	}

}