.content-page-landing-img{
	width: 100vw;
	opacity: .6;
}
.content-page-landing{
	background-color: black; 
	position: relative;
}

.content-page-landing-title{
	font-family: 'Open Sans', serif;
	color: white;
	font-size: 100px;
	font-weight: 700;
  	position: absolute;
  	top: 30%;
  	left:22%;
}

#overlaid-chart{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#select-players-lineup{
	margin-top: 30px;
	text-align: center;
}

.lineup-member-button{
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
}

#lineup-member-button-0{
	border: 1px solid #ff9933;
	/*background-color: #ff9933;*/
}

#lineup-member-button-1{
	border: 1px solid #ff5050;
	/*background-color: #ff5050;*/
}
#lineup-member-button-2{
	border: 1px solid #336699;
	/*background-color: #336699;*/
}
#lineup-member-button-3{
	border: 1px solid #33cccc;
	/*background-color: #33cccc;*/
}
#lineup-member-button-4{
	border: 1px solid #00cc99;
	/*background-color: #00cc99;*/
}
#lineup-member-button-5{
	border: 1px solid #8080ff;
	/*background-color: #8080ff;*/
}
#lineup-member-button-6{
	border: 1px solid #cc99ff;
	/*background-color: #cc99ff;*/
}
#lineup-member-button-7{
	border: 1px solid #ff99ff;
	/*background-color: #ff99ff;*/
}
#lineup-member-button-8{
	border: 1px solid #cc6699;
	/*background-color: #cc6699;*/
}
#lineup-member-button-9{
	border: 1px solid #993333;
	/*background-color: #993333;*/
}
#lineup-member-button-10{
	border: 1px solid #ff9933;
	/*background-color: #ffff00;*/
}
#lineup-member-button-11{
	border: 1px solid #86b300;
	/*background-color: #86b300;*/
}

#lineup-member-button-1{
	border: 1px solid #ff5050;
	/*background-color: #ff5050;*/
}
#lineup-member-button-12{
	border: 1px solid #336699;
	/*background-color: #336699;*/
}
#lineup-member-button-13{
	border: 1px solid #33cccc;
	/*background-color: #33cccc;*/
}
#lineup-member-button-14{
	border: 1px solid #00cc99;
	/*background-color: #00cc99;*/
}
#lineup-member-button-15{
	border: 1px solid #8080ff;
	/*background-color: #8080ff;*/
}
#lineup-member-button-16{
	border: 1px solid #cc99ff;
	/*background-color: #cc99ff;*/
}
#lineup-member-button-17{
	border: 1px solid #ff99ff;
	/*background-color: #ff99ff;*/
}
#lineup-member-button-18{
	border: 1px solid #cc6699;
	/*background-color: #cc6699;*/
}
#lineup-member-button-19{
	border: 1px solid #993333;
	/*background-color: #993333;*/
}
#lineup-member-button-20{
	border: 1px solid #ff5050;
	/*background-color: #ffff00;*/
}
#lineup-member-button-21{
	border: 1px solid #ff5050;
	/*background-color: #86b300;*/
}