.modal{
	display: flex;
    z-index: 2001;
    background: none;
    justify-content: center;
}

.modal-positioning{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.flex-row-important{
    display: flex !important;
}
.flex-row{
	display: flex;
}

.center-aligned{
	align-items: center;
}

.end-justified{
    justify-content: flex-end;
}

.center-justified{
	justify-content: center;
}

.modal-submit-button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #0095ff;
    color: white;
    font-weight: 600;
    font-size: 15px;
    opacity: 1;
    border: none !important;
}

.img-footer{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.modal-heading{
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.modal-footing{
    display: flex;
    justify-content: flex-end;
    background-color: #e8e8e8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-wrapper{
    border-radius: 10px;
    background: white;
    box-shadow: grey 0px 0px 5px;
}

.modal-p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-submit-button-deactivated{
    background-color: #848484!important;
    opacity: .7!important;
}

.modal-cancel-button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;
    color: #424242;
    font-weight: 600;
    font-size: 15px;
}


.modal-body{
    margin-top: 10px;
    min-height: 45vh;
    max-height: 55vh;
    overflow: scroll;
    padding: 0!important;
}

.heading-button{

}

.modal-overlay{
    z-index: 2000;
    display: block;
    position:fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.18);
}


.modal-back-button{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    height: 25px;
    background-color: #e8e8e8;
    border-radius: 10px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    box-shadow: 0px 0px 2px #bbbbbb;
}

.settings-button{
    justify-self: flex-end;
}

.dropdown-action{
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.flex-row:hover > .dropdown-action{
    background-color: #d2d2d2;
}
/*.dropdown-action:hover{
    background-color: #e8e8e8;
}*/

.dropdown-action-selected{
    background-color: #d2d2d2;
    font-weight: 600;
}


.back-arrow-img{
    width:8px;
}

.settings-img{
    width: 17px;
}

.delete-img{
    width: 20px;
}


svg, object{
    pointer-events: none;
}

.sidebar{
    width: 11vw;
    position: fixed;
    bottom: 0;
    align-items: center;
}


.grid{
    display: grid;
}

.trend-dropdown-action, .lineup-dropdown-action{
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
    border-radius: 20px;
    font-weight: 500;
}

.margin-5{
    margin: 5px;
}

.toolbar-dropdown-button{
    width: 100%;
    border: none;
}

.modal-inner-content{
    min-height: 55vh;
}





