#team-info-block{
	
}

#create-team-header{
	padding-top: 30px;
	padding-bottom: 20px;
}

#new-team-block{
	width: 90vw;
    margin: auto;
    color: #eeffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    border-radius: 5px;
    background-color: #152138;
    box-shadow: 0px 0px 5px #00ffe7;
    padding-bottom: 40px;
    margin-bottom: 20px
}

.new-team-input{
	outline: none;
    border: 2px solid #afc9ce;
    color: #152138;
    padding: 5px;
    border-radius: 5px;
}

.new-team-input:focus{
	box-shadow: 0px 0px 5px #00ffe7;
}

.teams{
	background-color: #000d23;
}

#background-color{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000d23;

}

.page-subheader{
	font-size: 35px;
}

.new-box{
	overflow: hidden;
	margin: auto;
	border-radius: 3px;
	z-index: 2001;
	display: flex;
	flex-direction: column;
	width: 45vw;
	margin-top: 100px;
	justify-content: center;
	padding: 20px;
}

.player-join-box{
	background: #424d56;
	color: white;
}

.add-players-header{
	font-size: 18px;
    margin-left: 10px;
}

.join-team-box{
	background: white;
}

.new-header{
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}

.new-form{
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
	
}

.new-team-secondary-color{
	color: #c7e3ff;
}

#current-members{
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	margin-bottom: 10px;
}

.current-members{
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	margin-bottom: 10px;
}

.new-player{
	font-family: "Open Sans";
    border: 1px solid #00c1ff;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #00efff;
}

.new-player:hover > .remove-player-x{
	visibility: visible;
}

.new-player-name{
	float: left;
}
.remove-player-x{
	visibility: hidden;
	float: left;
	padding-left: 5px;
}

#button-bar{

}

.bar-button{
	background-color: #ff2b6d;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white
}

.bar-button-offset{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
}
#next-button{
	float: right;
}
#previous-button{
	float: left;
	float: left;
    border: 1px solid #ff2b6d;
    color: #ff2b6d;
    background: transparent;
}

.team-info-input{
	margin-bottom: 15px;
	text-align: left;
}