

#grey-canvas{
	background-color: #030d29;
	display: grid;
    grid-template-rows: 84vh 8vh 8vh;
    align-items: center;
}

#slogan{
	font-family: 'Abril Fatface', cursive;
	color: white;
	text-align: center;
	font-size: 50px;
	position: relative;
	bottom: 13vh;
}

