

#grey-canvas{
	background-color: #030d29;
	display: flex;
	flex-direction: column;
}

#slogan{
	font-family: 'Abril Fatface', cursive;
	color: white;
	text-align: center;
	font-size: 50px;
	position: relative;
	bottom: 15vw;
}

