
.progression-block{
	margin-right: 10px;
}

.progression-img-wrapper{
	position: relative;
	text-align: center;
	display: inline-block;
}
.progression-img{
	width: 17vw;
	transition: .2s ease;
	background-color: white;
}

.progression-img-wrapper:hover .progression-img {
	opacity: .6;
}

.progression-change{
	border: .5px solid #fd7d6b;
	box-shadow: 0px 0px 5px #fd7d6b;
}


.progression-img-wrapper:hover .show-link-block{
	opacity: 1;
}

.progression-img-wrapper:hover .edit-link-block{
	opacity: 1;
}

.progression-num{
	display: none;
	position:absolute;
	bottom: 50%;
	width: 100%;
	font-size: 25px;
}
.progression-block:hover .progression-num{
	display: block;
}


.progression-link-text{
	padding-top: 6%;
}

.delete-progression{
	padding-top: 10px;
	padding-bottom: 10px;
}

.next-progression{
	padding-top: 10px;
	padding-bottom: 10px;
}


#next-text{
	display: inline-block;
	color: #333333;
	opacity: 0;
	transition: .2s ease;
}

#delete-text{
	display: inline-block;
	color: #333333;
	opacity: 0;
	transition: .2s ease;
}


#plus-sign{
	width: 21px;
	margin-left: 10px;
	transition: .2s ease;
}


#X-sign{
	width: 16px;
	margin-left: 12px;
	transition: .2s ease;
}


#progression-actions{
	display: inline-block;
	vertical-align: top;
	padding-top: 70px;
}

.show-canvas{
	float:left;
}

button{
    background: none;
    color: inherit;
    border: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
      
  }

button.left{
    height: 2.2vw;
    width: 2.2vw;
    border: solid #A6A6A6;
    border-width: 0 .5vw .5vw 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  button.right{
    height: 2.2vw;
    width: 2.2vw;
    border: solid #A6A6A6;
    border-width: 0 .5vw .5vw 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  button.right:hover{
    height: 2.2vw;
    width: 2.2vw;
    border: solid #262626;
    border-width: 0 .5vw .5vw 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  button.left:hover{
    height: 2.2vw;
    width: 2.2vw;
    border: solid #262626;
    border-width: 0 .5vw .5vw 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }


#progression-header{
	text-align: center;
}

#progression-header div {
	display: inline-block;
	font-size: 35px;
}

#edit-header {
	font-size: 35px;
	text-align: center;
}

#new-header{
	font-size: 35px;
	text-align: center;
	padding-bottom: 12px;
}

#progression-title{
	padding-left: 21%;
	padding-top: 3%;
}

.progression-note{
	width: 90%;
	height: 75%;
	border-radius: 3px;
	margin-left: 5%;
}

.progression-notes-header{
	text-align: center;
	font-size: 20px;
}

.progression-notes-text{
	border: none;
}

