<style>
	#sprite{
		background: url(<%= asset_path 'Sprite-Grid.png' %>); 1px -3px;
	}
	#background{
		width: 100vw;
		height: 100vw;
		background-color: black;
	}
</style>

<div id = "grey-canvas">
		<div id = "sprite"></div>
		<div id = "slogan">The Game Modernized</div>
		<div id = "portal">
			<%=link_to signup_path do %>
				<button class = "portal-button" id = "create-team-button">Sign Up</button>
			<%end%>
			<%=link_to login_path do%>
				<button class = "portal-button" id = "join-team-button">Log in</button>
			<%end%>
		</div>
</div>


<%= render 'pages/index/landing/sprite_js' %>