

<style>
	#sprite{
		width: 100vw; height: 56vw;
		background: url(/assets/Jordan/Sprite-Grid.png); 1px -3px;
		transform: scale(.55);
		position: relative;
		bottom: 5vw;
	}
	#background{
		width: 100vw;
		height: 100%;
		background-color: black;
	}
</style>

<div id = "main">
	<div id = "grey-canvas">
		
		<div id = "sprite"></div>
		<div id = "slogan">Hello, <%= current_user.name %>.</div>
	</div>
	<div id = "main-grid">
		<div id = "teams">
			<div class = "team-grid">
				<%= render @teams %>
				<div class = "add-join-team">
					<div><%= link_to 'create_team', new_team_path %></div>
					<div><button onclick = "show_join_team_box()">Join team</button></div>

				</div>
			</div>
		</div>
	</div>	
</div>
<div class = "modal-overlay" style= "display: none;"></div>
<div class = "new-overlay modal-overlay" style= "display: none;">
	<div class = "new-box" style= "display: none;">
		<div class = "join-team-header">
			<button class = "close-button" onclick="hide_new_game_form()">x</button>
			<div id = "new-play-header-text">Join Team</div>
		</div>
		<div id = "join-team-body">
			<div id = "username-body">
				<label for="enter-username">Enter username. This should have been provided by your coach.</label><br>
				<input type = "text" id = "enter-username" placeholder="Enter username">
			</div>
			<div id = "password-body">
				<label for="enter-password">Enter Password. This also should have been provided by your coach.</label><br>
				<input type = "password" id = "enter-password" placeholder="Enter password">
			</div>
			<button class = "bar-button join-team-submit" id = "submit-button" onclick = "submit_join_team()">Submit</button>
		</div>
	</div>
</div>


<%= render 'pages/index/landing/sprite_js' %>

<script>
	function submit_join_team(){
		var username = $("#enter-username").val()
		var password = $("#enter-password").val()
		var url = "/join_team/"
		$.ajax({
	      url: url,
	      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	      type: "post",
	      data_type: 'json',
	      data: {username: username, password: password}
	    });
	}

	function show_join_team_box(){
		$(".modal-overlay").show()
		$(".new-overlay").show()
		$(".new-box").show()
	}
	
		
</script>