<div id = "non-logged-in-header"> 
	<div class = "header-left">
		<div id = "AS-logo">AirSquad</div>
	</div>	
	<div id = "header-white"></div>
	<div id = "header-orange"></div>
	<div id = "about" class = "header-right">About</div>
	<div id = "login" class = "header-right"><%=link_to "Login", login_path %></div>
	<div id = "sign up" class = "header-right"><%=link_to "Sign up", signup_path %></div>
</div>