<!-- <div class = "stats-index-content-wrapper stats-index-deactivated " id = "player-profiles-index">
	<div class = "stats-index-header grid" id = "player-profiles-index-header">
		<div class = "stats-index-page-title flex-row center-justified" id = "player-profiles-page-title"> Player Profiles</div>
	</div>
	<div class = "flex-row stats-index-page-wrapper" id = "player-profile-links">
		<%counter = 1%>
		<%@players.each do |player|%>
			<button class = "player-profile-block" onclick = "player_profile_hash(<%=player.member_id%>)">
				<div class = "player-profile-link player-profile-link-style-<%=counter%>">
					<div class = "player-profile-link-text" ><%=player.nickname%></div>
				</div>
			</button>
			<%counter > 6 ? counter = 1 : counter += 1%>
		<%end%>
	</div>
</div> -->