<!-- <div class = "stats-index-content-wrapper" id = "stat-tables-index">
	<div id = "table-toggle-buttons">
		<button id = "per-game-stats-button" class = "table-toggle-button" onclick="toggle_player_table(1, this)">Per Game Stats</button>
		<button id = "per-minute-stats-button" class = "table-toggle-button" onclick="toggle_player_table(3, this)">Per <%=@per_minutes%> Minutes Stats</button>
		<button id = "advanced-stats-button" class = "table-toggle-button" onclick="toggle_player_table(2, this)">Advanced Stats</button>
	</div>
	<table class = "stats-table stats-table-1" id = "per-game-table">

	</table>

	<table class = "stats-table stats-table-1" id = "adv-player-stats-table">
					
	</table>
	<table class = "stats-table stats-table-1" id = "per-minute-table">
					
	</table>
	<table class = "stats-table stats-table-1" id = "adv-team-stats-table">
					
	</table>
</div> -->


<script type="text/javascript">
	

</script>