<!-- Collect the nav links, forms, and other content for toggling -->
<div class="header-right" id="navbar-collapsible-content">
    <%= render collapsible_links_partial_path %>
</div><!-- navbar-collapse -->